body {
	font-family: 'Droid Serif', serif;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	/*font-size: 120%;*/
}

#topnav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 8px;
	height: 34px;
}

#toc {
	padding-left: 4em;
	font-size: 12pt;
}
#toc li {
	cursor: pointer;
}
#toc li:hover {
	background: #ddd;
}
#topnav {
	right: 50px;
}

#slidenum {
	display: inline;
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	margin: 0;
	padding: 0;
}

pre {
	margin-top: 0px;
	margin-bottom: 0px;
	white-space: pre-wrap;
}

h1, h2, h3 {
	font-family: 'Droid Sans', sans-serif;
	margin-top: 10px;
}

h1 {
	color: #fff;
	background-color: #444;
	margin: 0px;
	padding: 8px;
	height: 40px;
}

pre, .codemirror pre {
	font-family: 'Droid Sans Mono', monospace;
}

code, pre {
	color: #006;
}

#simulator {
	border-right: 1px solid black;
	/*border-bottom: 1px solid black;*/
	background: #FFF;
	position: absolute;
	top: 56px;
	left: 0;
	right: 40%;
	bottom: 0%;
	padding-top: 0px;
}

.content {
	position: absolute;
	padding-left: 8px;
	padding-right: 4px;
	background: #DDD;
	left: 60%;
	right: 0;
	top: 56px;
	bottom: 0;
	overflow: auto;
}

.nosim .content {
	left: 0;
	background: #FFF;
}

hr {
	border: 1px solid #ccc;
}

button {
	display: inline;
	font-size: 70%;
	font-family: 'Droid Sans', sans-serif;
	color: #000;
	background-color: #eee;
	border-color: #000;
	border-width: 1px;
	padding: 3px;
	margin: 3px;
}

button:hover {
	background-color: #fff;
}
.nav {
	float: right;
	text-align: right;
}
.clear {
	clear: right;
}

h2.nosim {
	text-align: center;
	font-size: 300%;
	margin-bottom: 1em;
}

.toc {
	display: none;
	visibility: hidden;
}

/* Slide-specific styles */

/* Loading state */
.loading #slides,
.loading #topnav,
.loading #slidenum {
	display: none;
}

#loading {
	margin-top: 20%;
	font-size: 150%;
	text-align: center;
	color: #555;
	display: none;
}
.loading #loading {
	display: block;
}
